@font-face {
  font-family: "fontello";
  src: url("../assets/fontello/fontello.eot?34166676");
  src: url("../assets/fontello/fontello.eot?34166676#iefix") format("embedded-opentype"), url("../assets/fontello/fontello.woff2?34166676") format("woff2"), url("../assets/fontello/fontello.woff?34166676") format("woff"), url("../assets/fontello/fontello.ttf?34166676") format("truetype"), url("../assets/fontello/fontello.svg?34166676#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
:root {
  --font-family: system-ui, -apple-system, "Average Sans", sans-serif;
  --font-size: 20px;
  --color-bg-brown-hover: rgba(200,200,200,0.5);
  --underline-offset-y: 1px;
  --underline-intrinsic-size: 6;
  --cap-image-left: url('data:image/svg+xml,<svg width="15" height="30" viewBox="0 0 15 30" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_97_2699)"><mask id="mask0_97_2699" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="15" height="30"><rect width="15" height="30" fill="%23D9D9D9"/></mask><g mask="url(%23mask0_97_2699)"><circle cx="15" cy="15" r="15" fill="%23C8C8C8" fill-opacity="0.5"/></g></g><defs><clipPath id="clip0_97_2699"><rect width="15" height="30" fill="white"/></clipPath></defs></svg>');
  --cap-image-right: url('data:image/svg+xml,<svg width="15" height="30" viewBox="0 0 15 30" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_97_2707)"><mask id="mask0_97_2707" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="15" height="30"><rect width="15" height="30" fill="%23D9D9D9"/></mask><g mask="url(%23mask0_97_2707)"><circle cy="15" r="15" fill="%23C8C8C8" fill-opacity="0.5"/></g></g><defs><clipPath id="clip0_97_2707"><rect width="15" height="30" fill="white"/></clipPath></defs></svg>');
  --underline-color: var(--color-bg-brown-hover);
  --underline-size: 12;
  --underline-cap-width: 3px;
  --underline-width-scale: calc(var(--underline-size) / var(--underline-intrinsic-size));
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: 300;
  color: #3d3d3d;
  background-color: #ededed;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

#logo {
  position: absolute;
  display: inline;
  top: -2px;
  left: 7px;
  height: 100%;
  flex-grow: 1;
}
#logo path {
  fill: #000;
}

.sticky-top {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  z-index: 999;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}
.sticky-top .container {
  position: relative;
  padding: 0.5rem 0;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}
.sticky-top.sticky {
  position: fixed;
  top: -70px;
  left: 0;
  background-color: #fff;
}
.sticky-top.sticky .container {
  padding: 0.5rem 0;
}
.sticky-top.sticky.show {
  top: 0px;
}

@media (min-width: 992px) {
  .sticky-top .container {
    padding: 2.5rem 0;
  }
}
.navigation {
  display: none;
  visibility: hidden;
  align-items: center;
}
.navigation ul {
  margin: 0;
}

.top-menu {
  margin: 0;
}
.top-menu a {
  vertical-align: middle;
  color: inherit;
}
.top-menu > li {
  position: relative;
  margin-right: 2rem;
  line-height: 2.5rem;
}
.top-menu > li.menu-item-has-children > a {
  padding-right: 20px;
}
.top-menu > li.menu-item-has-children > a::before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  font-size: 1.2em;
  color: inherit;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin: 0;
  text-align: center;
  font-variant: none;
  text-transform: none;
  line-height: 2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  content: "\e800";
  position: absolute;
  display: none;
  right: -5px;
  top: -1px;
}
.top-menu > li.menu-item-has-children:hover > a::before {
  transform: rotate(180deg);
}
.top-menu > li.menu-item-has-children > ul {
  left: 30px;
  top: 45px;
  opacity: 0;
  visibility: hidden;
  transition: all 750ms ease;
  -moz-transition: all 750ms ease;
  -webkit-transition: 750ms ease;
  -ms-transition: all 750ms ease;
  -o-transition: all 750ms ease;
}
.top-menu > li.menu-item-has-children:hover > ul {
  visibility: visible;
  opacity: 1;
  transform: translate(-40px, 0px);
}
.top-menu > li.menu-item-has-children .dropdown-btn {
  display: none;
}
.top-menu .sub-menu {
  position: absolute;
  display: block;
  z-index: 100;
  min-width: 300px;
  list-style: none;
  background-color: #fff;
  border-radius: 0.5em;
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1);
}
.top-menu .sub-menu > li {
  padding: 0.75rem 0;
  border-bottom: 1px solid #d9d9d9;
  padding-left: 2rem;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}
.top-menu .sub-menu > li:last-child {
  border-bottom: none;
}
.top-menu .sub-menu > li:hover {
  background-color: #f1f1f1;
  padding-left: 1.5rem;
}

.social {
  display: flex;
  align-items: center;
}

.social-icon i {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  font-size: 1.2em;
  color: inherit;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin: 0 0.4em;
  text-align: center;
  font-variant: none;
  text-transform: none;
  line-height: 2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-medium:before {
  content: "\f23a";
}

.icon-twitter:before {
  content: "\f309";
}

.icon-linkedin-circled:before {
  content: "\f319";
}

.icon-behance:before {
  content: "\f34e";
}

.icon-down-open-mini {
  content: "\e800";
}

@media (max-width: 320px) {
  .social {
    display: none;
  }
}
.mobile-nav-toggler {
  display: inline-block;
  visibility: visible;
  background-color: unset;
  padding: 0;
  margin: 4px 0.5rem 0 0;
  border: none;
  z-index: 999999;
}
.mobile-nav-toggler .hamburger-label {
  position: relative;
  top: -6px;
  left: 0;
  color: #3d3d3d;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.75em;
  padding: 0 0.5rem;
  color: inherit;
}

.mobile-menu {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  min-width: 375px;
  opacity: 0;
  visibility: hidden;
  z-index: 99999;
}
.mobile-menu::before {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}
.mobile-menu .menu-box {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 80vw;
  height: 100%;
  background: #fff;
  padding: 0;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  border-radius: 0;
  transform: translateX(101%);
  -moz-transform: translateX(101%);
  -webkit-transform: translateX(101%);
  -ms-transform: translateX(101%);
  -o-transform: translateX(101%);
}
.mobile-menu .menu-box .top-menu {
  list-style: none;
  padding: 4em 0 0 0;
  margin: 0;
}
.mobile-menu .menu-box .top-menu > li {
  margin-right: 0;
  padding: 0 0 0 1em;
  border-bottom: 1px solid #d9d9d9;
  line-height: 3.5rem;
}
.mobile-menu .menu-box .top-menu .dropdown-btn {
  position: absolute;
  display: block;
  right: 8px;
  top: 8px;
}
.mobile-menu .menu-box .top-menu .dropdown-btn::before {
  content: "\e800";
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  font-size: 2em;
  color: inherit;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin: 0;
  text-align: center;
  font-variant: none;
  text-transform: none;
  line-height: 2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
  line-height: 30px;
}
.mobile-menu .menu-box .top-menu .dropdown-btn.open {
  transform: rotate(180deg);
}
.mobile-menu .menu-box .top-menu > li.menu-item-has-children.open {
  background-color: #f1f1f1;
}
.mobile-menu .menu-box .top-menu > li.menu-item-has-children:hover > ul {
  transform: none;
}
.mobile-menu .menu-box .top-menu > li.menu-item-has-children > ul {
  opacity: 1;
  visibility: visible;
}
.mobile-menu .menu-box .top-menu > li.menu-item-has-children > ul > li {
  border-bottom: 0 none;
  padding: 0.25rem 1.5rem;
}
.mobile-menu .menu-box .top-menu .sub-menu {
  position: relative;
  top: 0;
  left: 0;
  min-width: auto;
  background-color: transparent;
  border-radius: 0;
  overflow: auto;
  display: none;
  box-shadow: none !important;
}

.mobile-menu-visible {
  overflow: hidden;
}
.mobile-menu-visible .mobile-menu::before {
  opacity: 1;
  visibility: visible;
}
.mobile-menu-visible .mobile-menu .menu-box {
  opacity: 1;
  visibility: visible;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transform: translateX(0%);
  -moz-transform: translateX(0%);
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
}

.mobile-menu-visible .mobile-menu {
  opacity: 1;
  visibility: visible;
}

@media (min-width: 992px) {
  .mobile-nav-toggler {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
  .navigation {
    display: flex;
    visibility: visible;
  }
  .top-menu > li.menu-item-has-children > a::before {
    display: block;
  }
  .mobile-menu {
    display: none;
  }
  .mobile-menu-visible {
    overflow: auto;
  }
}
#intro {
  position: relative;
  min-height: 100vh;
  background: rgb(237, 237, 237);
  background: linear-gradient(0deg, rgb(237, 237, 237) 0%, rgb(237, 237, 237) 64%, rgb(255, 255, 255) 100%);
}
#intro .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
  min-height: 640px;
  padding: 0;
}
#intro .cta {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#intro h1 {
  font-weight: 300;
  font-size: 1em;
  line-height: 1.5em;
}
#intro h1 strong {
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  background-repeat: no-repeat;
  background-position-x: -5000%, -100%, -500%;
  background-position-y: calc(100% - var(--underline-offset-y) * -1);
  background-size: calc(100% - 2 * var(--underline-intrinsic-size) * 1px) calc(var(--underline-size) * 1px), auto calc(var(--underline-size) * 1px), auto calc(var(--underline-size) * 1px);
  background-image: linear-gradient(180deg, var(--color-bg-brown-hover), var(--color-bg-brown-hover)), var(--cap-image-left), var(--cap-image-right);
  padding: 0;
  color: inherit;
  text-decoration: none;
  font-weight: 700;
  -webkit-animation: 1.5s highlight 0.1s 1 normal forwards;
  animation: 1.5s highlight 0.1s 1 normal forwards;
}

@keyframes highlight {
  to {
    background-position-x: calc(var(--underline-cap-width) * var(--underline-width-scale)), 0, 100%;
  }
}
@media (min-width: 992px) {
  #intro .box {
    padding: 0;
  }
  #intro .cta {
    justify-content: flex-start;
  }
  #intro .cta .btn {
    margin-right: 1rem;
  }
  #intro h1 {
    font-size: 1.6666667em;
    line-height: 1.5em;
  }
}
.review-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
  margin: 0 auto;
  max-width: 568px;
  padding-bottom: 6rem;
}
.review-element .review-rating {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
.review-element .review-rating .review-icon::before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  font-size: 1.2em;
  color: inherit;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin: 0.2em;
  text-align: center;
  font-variant: none;
  text-transform: none;
  line-height: 2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #f7b00e;
  display: block;
}
.review-element .review-rating .review-icon.icon-full::before {
  content: "\e801";
}
.review-element .review-rating .review-icon.icon-half::before {
  content: "\f123";
}
.review-element .review-rating .review-icon.icon-empty::before {
  content: "\e802";
}
.review-element blockquote {
  text-align: center;
  padding: 0.5em 0;
  font-size: 1em;
}
.review-element .review-source {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  font-size: 0.75em;
  border: 1px solid #cdcdcd;
  border-radius: 0.5rem;
  margin: 0 auto;
  padding: 0.8em 0;
}
.review-element .review-source .review-author, .review-element .review-source .review-platform {
  padding: 0 0.8em;
}
.review-element .review-source .author-image {
  height: 2rem;
  margin-right: 0.5em;
}
.review-element .review-source .platform-icon {
  height: 1.75rem;
  margin-right: 0.5em;
}

.project-wall {
  padding-bottom: 4em;
}
.project-wall .col-left, .project-wall col-right {
  padding: 3em 0;
  position: relative;
}
.project-wall img {
  max-width: 100%;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  overflow: hidden;
  border-radius: 0.5em;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1);
}
.project-wall .image:hover img {
  transform: scale(1.05);
}
.project-wall .description {
  padding: 2em 0.5em 0;
}
.project-wall .description span {
  display: inline-block;
}
.project-wall .description h2 {
  font-size: 1em;
  font-weight: 400;
  padding: 0;
  margin: 0;
}
.project-wall .description .skills {
  font-size: 0.75em;
  font-weight: 300;
}
.project-wall .description .skills strong {
  font-weight: 700;
}

@media (min-width: 992px) {
  .project-wall {
    padding-bottom: 8em;
  }
  .project-wall .col-left, .project-wall .col-right {
    padding-top: 6em;
  }
  .project-wall .col-left {
    padding-right: 3em;
  }
  .project-wall .col-right {
    padding-left: 3em;
  }
  .project-wall .indent-top {
    margin-top: -5em;
  }
}
#about {
  position: relative;
}
#about .svg-mask {
  position: relative;
  padding: 0.2em;
}
#about .svg-mask svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
#about .svg-mask svg rect {
  mask-mode: match-source;
  mask: url(#mask);
}
#about .about-me {
  padding: 2em 1.5rem;
}
#about .about-me h2 {
  margin-bottom: 2em;
}
#about .about-me .btn-mk-secondary {
  margin-top: 2em;
}

#mask-rect {
  fill: #ededed;
}

.swiper {
  width: 100%;
  height: auto;
}
.swiper .swiper-pagination .swiper-pagination-bullet {
  background-color: #b0b0b0;
}
.swiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #3d3d3d;
}

footer {
  position: relative;
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 64%, rgb(237, 237, 237) 100%);
}
footer .inner-footer {
  padding: 6em 1.5rem;
}
footer .inner-footer strong {
  font-weight: 700;
}
footer .copy {
  padding: 0.5em 1.5rem;
  background-color: #fff;
  font-size: 0.8em;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #f9f9f9;
    background-color: #0d0d0d;
  }
  #logo path {
    fill: #fff;
  }
  .sticky-top.sticky {
    background-color: #0d0d0d;
  }
  .sticky-top .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    background-color: #fff !important;
  }
  .top-menu .sub-menu {
    background-color: #303030;
  }
  .top-menu .sub-menu > li {
    border-bottom: 1px solid #909090;
  }
  .top-menu .sub-menu > li:hover {
    background-color: #606060;
  }
  .mobile-menu .menu-box {
    background: #000;
  }
  .mobile-menu .menu-box .top-menu > li.menu-item-has-children.open {
    background-color: #606060;
  }
  #intro {
    background: #0d0d0d;
  }
  .swiper .swiper-pagination .swiper-pagination-bullet {
    background-color: #f9f9f9;
  }
  .swiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #fff;
  }
  #mask-rect {
    fill: #0d0d0d;
  }
  footer {
    background: #0d0d0d;
  }
  footer .copy {
    background: #0d0d0d;
  }
}

/*# sourceMappingURL=style.css.map */
