@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300 800;
  font-stretch: 100%;
  font-display: swap;
  src: url("../assets/fonts/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-mu0SC55I.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 300 800;
  font-stretch: 100%;
  font-display: swap;
  src: url("../assets/fonts/memtYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWqWuU6FxZCJgg.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "fontello";
  src: url("../assets/fonts/fontello.eot?34166676");
  src: url("../assets/fonts/fontello.eot?34166676#iefix") format("embedded-opentype"), url("../assets/fonts/fontello.woff2?34166676") format("woff2"), url("../assets/fonts/fontello.woff?34166676") format("woff"), url("../assets/fonts/fontello.ttf?34166676") format("truetype"), url("../assets/fonts/fontello.svg?34166676#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
:root {
  --font-family: system-ui, -apple-system, "Open Sans", sans-serif;
  --font-size: 16px;
}

@media (min-width: 992px) {
  :root {
    --font-size: 20px;
  }
}
body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: #3d3d3d;
  background-color: #ededed;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
}

h1 {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.25rem;
}
h1 strong {
  font-weight: 700;
}

@media (min-width: 992px) {
  h1 {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }
}
#logo {
  position: absolute;
  display: inline;
  top: -2px;
  left: 7px;
  height: 100%;
  flex-grow: 1;
}
#logo path {
  fill: #000;
}

@media (min-width: 992px) {
  #logo {
    height: 100%;
  }
  .sticky-top #logo {
    left: 7px;
  }
}
.sticky-top {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  z-index: 999;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}
.sticky-top .container {
  position: relative;
  padding: 0.5rem 0;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}
.sticky-top.sticky {
  position: fixed;
  top: -70px;
  left: 0;
  background-color: #fff;
}
.sticky-top.sticky .container {
  padding: 0.5rem 0;
}
.sticky-top.sticky.show {
  top: 0px;
}

@media (min-width: 992px) {
  .sticky-top .container {
    padding: 2.5rem 0;
  }
}
.navigation {
  display: none;
  visibility: hidden;
  align-items: center;
}
.navigation ul {
  margin: 0;
}

.top-menu {
  margin: 0;
}
.top-menu a {
  vertical-align: middle;
  color: inherit;
}
.top-menu > li {
  position: relative;
  margin-right: 2rem;
  line-height: 2.5rem;
}
.top-menu > li.menu-item-has-children > a {
  padding-right: 20px;
}
.top-menu > li.menu-item-has-children > a::before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  font-size: 1.2em;
  color: inherit;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin: 0;
  text-align: center;
  font-variant: none;
  text-transform: none;
  line-height: 2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  content: "\e800";
  position: absolute;
  display: none;
  right: -5px;
  top: -1px;
}
.top-menu > li.menu-item-has-children:hover > a::before {
  transform: rotate(180deg);
}
.top-menu > li.menu-item-has-children > ul {
  left: 30px;
  top: 45px;
  opacity: 0;
  visibility: hidden;
  transition: all 750ms ease;
  -moz-transition: all 750ms ease;
  -webkit-transition: 750ms ease;
  -ms-transition: all 750ms ease;
  -o-transition: all 750ms ease;
}
.top-menu > li.menu-item-has-children:hover > ul {
  visibility: visible;
  opacity: 1;
  transform: translate(-40px, 0px);
}
.top-menu > li.menu-item-has-children .dropdown-btn {
  display: none;
}
.top-menu .sub-menu {
  position: absolute;
  display: block;
  z-index: 100;
  min-width: 300px;
  list-style: none;
  background-color: #fff;
  border-radius: 0.5em;
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
  box-shadow: 0px 3px 10px 4px rgba(0, 0, 0, 0.15);
}
.top-menu .sub-menu > li {
  padding: 0.75rem 0;
  border-bottom: 1px solid #d9d9d9;
  padding-left: 2rem;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}
.top-menu .sub-menu > li:last-child {
  border-bottom: none;
}
.top-menu .sub-menu > li:hover {
  background-color: #f1f1f1;
  padding-left: 1.5rem;
}

.social {
  display: flex;
  align-items: center;
}

.social-icon {
  z-index: 999999;
}
.social-icon i {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  font-size: 1.2em;
  color: inherit;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin: 0 0.4em;
  text-align: center;
  font-variant: none;
  text-transform: none;
  line-height: 2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-medium:before {
  content: "\f23a";
}

.icon-twitter:before {
  content: "\f309";
}

.icon-linkedin-circled:before {
  content: "\f319";
}

.icon-behance:before {
  content: "\f34e";
}

.icon-down-open-mini {
  content: "\e800";
}

.mobile-nav-toggler {
  display: inline-block;
  visibility: visible;
  background-color: unset;
  padding: 0;
  margin: 4px 0.5rem 0 0;
  border: none;
  z-index: 999999;
}
.mobile-nav-toggler .hamburger-label {
  position: relative;
  top: -6px;
  left: 0;
  color: #3d3d3d;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1rem;
  padding: 0 0.5rem;
  color: inherit;
}

.mobile-menu {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  min-width: 375px;
  opacity: 0;
  visibility: hidden;
  z-index: 99999;
}
.mobile-menu::before {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}
.mobile-menu .menu-box {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 80vw;
  height: 100%;
  background: #fff;
  padding: 0;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  border-radius: 0;
  transform: translateX(101%);
  -moz-transform: translateX(101%);
  -webkit-transform: translateX(101%);
  -ms-transform: translateX(101%);
  -o-transform: translateX(101%);
}
.mobile-menu .menu-box .top-menu {
  list-style: none;
  padding: 4em 0 0 0;
  margin: 0;
}
.mobile-menu .menu-box .top-menu > li {
  margin-right: 0;
  padding: 0 0 0 2em;
  border-bottom: 1px solid #d9d9d9;
}
.mobile-menu .menu-box .top-menu .dropdown-btn {
  position: absolute;
  display: block;
  right: 8px;
  top: 8px;
}
.mobile-menu .menu-box .top-menu .dropdown-btn::before {
  content: "\e800";
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  font-size: 2em;
  color: inherit;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin: 0;
  text-align: center;
  font-variant: none;
  text-transform: none;
  line-height: 2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
  line-height: 30px;
}
.mobile-menu .menu-box .top-menu .dropdown-btn.open {
  transform: rotate(180deg);
}
.mobile-menu .menu-box .top-menu > li.menu-item-has-children.open {
  background-color: #f1f1f1;
}
.mobile-menu .menu-box .top-menu > li.menu-item-has-children:hover > ul {
  transform: none;
}
.mobile-menu .menu-box .top-menu > li.menu-item-has-children > ul {
  opacity: 1;
  visibility: visible;
}
.mobile-menu .menu-box .top-menu > li.menu-item-has-children > ul > li {
  border-bottom: 0 none;
  padding: 0.25rem 1.5rem;
}
.mobile-menu .menu-box .top-menu .sub-menu {
  position: relative;
  top: 0;
  left: 0;
  min-width: auto;
  background-color: transparent;
  border-radius: 0;
  overflow: auto;
  display: none;
  box-shadow: none !important;
}

.mobile-menu-visible {
  overflow: hidden;
}
.mobile-menu-visible .mobile-menu::before {
  opacity: 1;
  visibility: visible;
}
.mobile-menu-visible .mobile-menu .menu-box {
  opacity: 1;
  visibility: visible;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transform: translateX(0%);
  -moz-transform: translateX(0%);
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
}

.mobile-menu-visible .mobile-menu {
  opacity: 1;
  visibility: visible;
}

@media (min-width: 992px) {
  .mobile-nav-toggler {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
  .navigation {
    display: flex;
    visibility: visible;
  }
  .top-menu > li.menu-item-has-children > a::before {
    display: block;
  }
  .mobile-menu {
    display: none;
  }
  .mobile-menu-visible {
    overflow: auto;
  }
}
#intro {
  position: relative;
  min-height: 100vh;
  background: rgb(237, 237, 237);
  background: linear-gradient(0deg, rgb(237, 237, 237) 0%, rgb(237, 237, 237) 64%, rgb(255, 255, 255) 100%);
}
#intro .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding: 0;
}

@media (min-width: 576px) {
  #intro .box {
    padding: 0 2rem;
  }
}
@media (min-width: 992px) {
  #intro .box {
    padding: 0;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    color: #f9f9f9;
    background-color: #0d0d0d;
  }
  #logo path {
    fill: #fff;
  }
  .sticky-top.sticky {
    background-color: #0d0d0d;
  }
  .sticky-top .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    background-color: #fff !important;
  }
  .top-menu .sub-menu {
    background-color: #303030;
  }
  .top-menu .sub-menu > li {
    border-bottom: 1px solid #909090;
  }
  .top-menu .sub-menu > li:hover {
    background-color: #606060;
  }
  .mobile-menu .menu-box {
    background: #000;
  }
  .mobile-menu .menu-box .top-menu > li.menu-item-has-children.open {
    background-color: #606060;
  }
  #intro {
    background: #0d0d0d;
  }
}

/*# sourceMappingURL=style.css.map */
