// Variables

// Colors

$mk-body-color: #3d3d3d
$mk-body-color-dark: #f9f9f9
$mk-body-bg-color: #ededed
$mk-body-bg-color-dark: #0d0d0d
$mk-logo-color-light: #000
$mk-logo-color-dark: #fff
$mk-color-scheme-light: #000
$mk-color-scheme-dark: #fff
$mk-sticky-top-bg-color-light: #fff
$mk-sticky-top-bg-color-dark: #0d0d0d

// Google Fonts

@font-face
  font-family: 'fontello'
  src: url('../assets/fonts/fontello.eot?34166676')
  src: url('../assets/fonts/fontello.eot?34166676#iefix') format('embedded-opentype'), url('../assets/fonts/fontello.woff2?34166676') format('woff2'), url('../assets/fonts/fontello.woff?34166676') format('woff'), url('../assets/fonts/fontello.ttf?34166676') format('truetype'), url('../assets/fonts/fontello.svg?34166676#fontello') format('svg')
  font-weight: normal
  font-style: normal

// Mixins

@mixin transition($ms, $type: ease)
  transition: all $ms $type
  -moz-transition: all $ms $type
  -webkit-transition: $ms $type
  -ms-transition: all $ms $type
  -o-transition: all $ms $type

@mixin translateX($val)
  transform: translateX($val)
  -moz-transform: translateX($val)
  -webkit-transform: translateX($val)
  -ms-transform: translateX($val)
  -o-transform: translateX($val)

@mixin reset-list
  margin: 0
  padding: 0
  list-style: none

@mixin box-shadow
  box-shadow: 0px 3px 10px 4px rgba(0,0,0,0.15)

@mixin fontello($font-size, $line-height, $margin: 0 .4em )
  font-family: "fontello"
  font-style: normal
  font-weight: normal
  font-size: $font-size
  color: inherit
  speak: never
  display: inline-block
  text-decoration: inherit
  width: 1em
  margin: $margin
  text-align: center
  font-variant: none
  text-transform: none
  line-height: $line-height
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

// Base

:root
  --font-family: system-ui, -apple-system, "Average Sans", sans-serif
  --font-size: 20px

body
  font-family: var(--font-family)
  font-size: var(--font-size)
  color: $mk-body-color
  background-color: $mk-body-bg-color

a
  text-decoration: none
  color: inherit

  &:hover
    text-decoration: none

// Sticky Header

#logo
  position: absolute
  display: inline
  top: -2px
  left: 7px
  height: 100%
  flex-grow: 1

  path
    fill: $mk-logo-color-light

.sticky-top
  position: absolute
  display: flex
  flex-direction: row
  align-items: center
  justify-content: flex-end
  width: 100%
  z-index: 999
  @include transition(500ms)

  .container
    position: relative
    padding: 0.5rem 0
    @include transition(500ms)

  &.sticky
    position: fixed
    top: -70px
    left: 0
    background-color: $mk-sticky-top-bg-color-light

    .container
      padding: 0.5rem 0

  &.sticky.show
    top: 0px

@media (min-width: 992px)
  .sticky-top .container
    padding: 2.5rem 0

.navigation
  display: none
  visibility: hidden
  align-items: center

  ul
    margin: 0

// Top Menu
  
.top-menu
  margin: 0

  a
    vertical-align: middle
    color: inherit

  & > li
    position: relative
    margin-right: 2rem
    line-height: 2.5rem

  & > li.menu-item-has-children > a
    padding-right: 20px

  & > li.menu-item-has-children

    & > a::before
      @include fontello(1.2em, 2em, 0)
      @include transition(500ms)
      content: '\e800'
      position: absolute
      display: none
      right: -5px
      top: -1px

    &:hover > a::before
      transform: rotate(180deg)

  & > li.menu-item-has-children > ul
    left: 30px
    top: 45px
    opacity: 0
    visibility: hidden
    @include transition(750ms)

  & > li.menu-item-has-children:hover > ul
    visibility: visible
    opacity: 1
    transform: translate(-40px, 0px)

  & > li.menu-item-has-children .dropdown-btn
    display: none
      
  // Submenues

  .sub-menu
    position: absolute
    display: block
    z-index: 100
    min-width: 300px
    list-style: none
    background-color: $mk-color-scheme-dark
    border-radius: 0.5em
    overflow: hidden
    @include reset-list
    @include box-shadow

    & > li
      padding: .75rem 0
      border-bottom: 1px solid #d9d9d9
      padding-left: 2rem
      @include transition(500ms)

      &:last-child
        border-bottom: none

      &:hover
        background-color: #f1f1f1
        padding-left: 1.5rem

// Social Icons

.social
  display: flex
  align-items: center

.social-icon

  i
    @include fontello(1.2em, 2em)

.icon-medium:before
  content: '\f23a'
.icon-twitter:before
  content: '\f309'
.icon-linkedin-circled:before
  content: '\f319'
.icon-behance:before
  content: '\f34e'
.icon-down-open-mini
  content: '\e800'

// Hamburger

.mobile-nav-toggler
  display: inline-block
  visibility: visible
  background-color: unset
  padding: 0
  margin: 4px 0.5rem 0 0
  border: none
  z-index: 999999

  .hamburger-label
    position: relative
    top: -6px
    left: 0
    color: $mk-body-color
    text-transform: uppercase
    font-weight: 500
    font-size: 0.75em
    padding: 0 0.5rem
    color: inherit

// Mobile Menu

.mobile-menu
  position: fixed
  right: 0
  top: 0
  width: 100%
  height: 100%
  min-width: 375px
  opacity: 0
  visibility: hidden
  z-index: 99999

  &::before
    position: absolute
    content: " "
    top: 0
    left: 0
    width: 100%
    height: 100%
    opacity: 0
    visibility: hidden
    background-color: rgba(0,0,0,0.7)
    @include transition(500ms)

  .menu-box
    position: absolute
    right: 0px
    top: 0px
    width: 80vw
    height: 100%
    background: $mk-color-scheme-dark
    padding: 0
    z-index: 5
    opacity: 0
    visibility: hidden
    border-radius: 0
    @include translateX(101%)

    .top-menu
      list-style: none
      padding: 4em 0 0 0
      margin: 0

      & > li
        margin-right: 0
        padding: 0 0 0 1em
        border-bottom: 1px solid #d9d9d9
        line-height: 3.5rem

      .dropdown-btn
        position: absolute
        display: block
        right: 8px
        top: 8px

        &::before
          content: '\e800'
          @include fontello(2em, 2em, 0)
          display: block
          line-height: 30px

        &.open
          transform: rotate(180deg)

      & > li.menu-item-has-children

        &.open
          background-color: #f1f1f1

        &:hover > ul
          transform: none

      & > li.menu-item-has-children > ul
        opacity: 1
        visibility: visible

        & > li
          border-bottom: 0 none
          padding: 0.25rem 1.5rem

      .sub-menu
        position: relative
        top: 0
        left: 0
        min-width: auto
        background-color: transparent
        border-radius: 0
        overflow: auto
        display: none
        box-shadow: none !important

.mobile-menu-visible
  overflow: hidden

  .mobile-menu::before
    opacity: 1
    visibility: visible

  .mobile-menu .menu-box
    opacity: 1
    visibility: visible
    @include transition(500ms)
    @include translateX(0%)

.mobile-menu-visible .mobile-menu
  opacity: 1
  visibility: visible

@media (min-width: 992px)
  .mobile-nav-toggler
    opacity: 0
    visibility: hidden
    display: none

  .navigation
    display: flex
    visibility: visible

  .top-menu > li.menu-item-has-children > a::before
    display: block

  .mobile-menu
    display: none

  .mobile-menu-visible
    overflow: auto

// Intro Section

#intro
  position: relative
  min-height: 100vh

  background: rgb(237,237,237)
  background: linear-gradient(0deg, rgba(237,237,237,1) 0%, rgba(237,237,237,1) 64%, rgba(255,255,255,1) 100%)
  
  .box
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    height: 80vh
    min-height: 770px
    padding: 0

  h1
    font-weight: 300
    font-size: 1.5em
    line-height: 2.25rem
    font-family: "Open Sans", sans-serif
    font-optical-sizing: auto
    font-weight: 300
    font-style: normal
    font-variation-settings: "wdth" 100

    strong
      font-weight: 700

@media (min-width: 992px)
  #intro

    .box
      padding: 0

    h1
      font-size: 1.6666667em
      line-height: 1.5em

@media (prefers-color-scheme: dark)
  body
    color: $mk-body-color-dark
    background-color: $mk-body-bg-color-dark

  #logo

    path
      fill: $mk-color-scheme-dark

  .sticky-top.sticky
    background-color: $mk-sticky-top-bg-color-dark

  .sticky-top .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after
    background-color: $mk-color-scheme-dark !important

  .top-menu .sub-menu
    background-color: #303030

    & > li
      border-bottom: 1px solid #909090

      &:hover
        background-color: #606060

  .mobile-menu .menu-box
    background: $mk-color-scheme-light

    .top-menu > li.menu-item-has-children.open
      background-color: #606060

  #intro
    background: $mk-body-bg-color-dark




