// Create custom map
$custom-colors: (
	"mk-primary": $mk-primary,
	"mk-secondary": $mk-secondary
);

$custom-ratios: (
	"3x4": calc(4 / 3 * 100%)
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);
$aspect-ratios: map-merge($aspect-ratios, $custom-ratios);