// Override Bootstrap variable for button
$btn-font-weight: 400;
$btn-font-size: 1.5rem;
$btn-padding-x: 3rem;
$btn-line-height: 3rem;

// Custom Color for Dark Button
$mk-primary: #3d3d3d;
$mk-secondary: #d0d0d0;
